// GLOBAL
html {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.25em
}


body {
  min-height: 100vh;
  overflow: scroll;
  @include background-gradient;
}

.hidden {
  display: none !important;
}