// GLOBAL
html {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}


p {
  font-size: 1.25em
}


.hidden {
  display: none !important;
}

body {
  background: $header-color;
  min-height: 100vh;
  overflow: scroll;
}