body {
  background:lightblue;
  min-height: 100vh;
}

.hotel-exterior-img {
  width: auto;
  max-height: 50vh;
}

.landing-container{
  margin: 0 0 2.25rem;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25.75rem;
  line-height: 1;
  margin: 0 0 1rem;
  position: relative;
  text-align: center;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: url(../images/hotel-image.jpg) no-repeat center center;
  background-size: cover;
}
