header {
  background: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

//logo
h1 {
  font-size: 2em;
  color: black;
  font-family: Helvetica, sans-serif;
}

.logo-container {
  display: flex;

  & img {
    height: 2em;
    width: 2em;
  }
}

//nav 
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


//mobile dropdown
.mobile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 4em;
  z-index: 2;
  width: 40vw;
  height: auto;
}

.nav-button {
	cursor: pointer;
  margin: 1em;
  border: none;
  background-color: inherit;
  color: white;
}

.burger-button {
  border: none;
  background: inherit;
}

.ham-img {
  height: 45px;
  width: 40px;
}

.hidden {
  display: none;
}

