
header {
  background: $header-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

//logo
h1 {
  font-size: 2em;
  color: black;
  font-family: 'Electrolize', sans-serif;
  padding-left: 0.5em;
}

.logo-container {
  display: flex;

  & img {
    height: 2em;
    width: 2em;
  }
}

//nav 
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}


//mobile dropdown

.modal-overlay {
  background-color: rgba(127, 200, 213, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 4em;
  right: 0;
  transition: opacity 0.15s ease-out; 
  z-index: 1;
}

.mobile-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 40vw;
  min-height: 6em;
}

.nav-button {
	cursor: pointer;
  margin: 1em;
  border: none;
  background-color: inherit;
  color: white;
}

.burger-button {
  border: none;
  background: inherit;
}

.ham-img {
  height: 45px;
  width: 40px;
}

.desktop-nav {
  display: none;
}


/* desktop size */
@media screen and (min-width: $desktop-size) {

.desktop-nav {
  display: block;
}

.mobile-nav,
.mobile-dropdown,
.burger-button,
.ham-img,
.modal-overlay {
  display: none;
}

.nav-button {
	cursor: pointer;
  margin: 1em;
  border: 1px solid $medium-grey;
  background-color: inherit;
  color: black;
  padding: 0.5em;

  &:hover {
    background-color: $lighter-blue;
  }
}

}


.hidden {
  display: none;
}