* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  padding-top: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}