// SEARCH RESULTS CARDS
.room-card,
.past-booking-card {
  background-color: white;
  border-radius: 1em;
  box-shadow: 0.2em 0.1em 0.5em #3d3d3d;
}

.image-container {
  position: relative;
  text-align: center;
}

.select-room-btn {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 1em;
  border-radius: 0.5em;

  &:hover {
    background-color: lightgray;
  }
}

.room-photo {
  width: 100%;
  height: 15em;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

  &:hover {
    opacity: 0.5;
    transition: .8s ease;
  }
}

.text-area {
  padding: 1em;
}

// PAST BOOKING CARDS

.past-date {
  position: absolute;
  background-color:white;
  left: 20px;
  top: 20px;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 12em;
}

.past-room-photo {
  width: 100%;
  height: 10em;
  object-fit: cover;
  overflow: hidden;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.past-text-area {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.no-stays-card {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  box-shadow: 0.2em 0.1em 0.5em #3d3d3d;
}

/* desktop size */
@media screen and (min-width: $desktop-size) {
  .select-room-btn {
    display: none;
  }
}