$primary-background: #272727;
$tablet-size: 620px;
$large-tablet-size: 900px;
$desktop-size: 1200px;
$header-color: #EBF1F4;
$light-blue: #7FC8D5;
$medium-grey: #81827D;
$lighter-blue: #BBD9DC;
$dark-grey: #434039;


@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

@mixin background-gradient {
  background-image: linear-gradient($header-color,$light-blue);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
