// LANDING PAGE
.hotel-exterior {
  margin: 0 0 2.25rem;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  line-height: 1;
  margin: 0 0 1rem;
  position: relative;
  text-align: center;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: url(../images/balcony-exterior.jpg) no-repeat center center;
  background-size: cover;
  @include flex-center;
}

.main-button {
  align-self: center;
  padding: 1em 2em;
  background:white;
  color:black;
  border: none;
  opacity: 0.8;
  font-size: 1.5em;
  border-radius: 0.5em;
  margin: 1em;
}

.landing-page-book-button {
  margin-top: 7em;
  
  &:hover {
    background: $light-blue
  }
}


// LOG IN PAGE
.log-in-page {
  height: 100vh;
  @include flex-center;
  text-align: center;
}

.input-container {
  @include flex-center;
  margin: 1em
}

.label {
  color:black;
  margin-bottom: 1em;
}

.input {
  padding: 0.5em;

  &::placeholder {
    color: red;
  }
}

// BOOKING PAGE
.select-page {
  @include flex-center;
}

.selectDates {
  @include flex-center;

  & input {
    margin: 1em 2em;
    width: auto;
    height: 2em;
    padding: 1.5em;
    border: none;
    background: white;
    border-radius: 0.5em;
  }

  & label {
    font-size: 1.5em;
    margin-top: 2em;
  }
}

// SEARCH RESULTS PAGE
.results-page {
  @include flex-center;
  text-align: center;
}

.room-type-form-label {
  font-size: 1.5em;
}

.room-type-form {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.apology {
  @include flex-center;
  text-align: center;
}

// BOOKING PAGE
.book-this-room {
  @include flex-center;
}

.button-container {
  @include flex-center;
}

.book-room-btn,
.go-back-btn {
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em;

  &:hover {
    background-color: lightgray;
  }
}

.room-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.text-area {
  padding: 1em;
}

// CONFIRMATION PAGE
.confirmation-page {
  @include flex-center;
  text-align: center;

  & p {
    font-size: 3em;
    padding: 1em;
  }
}

.error-msg {
  color: white;
  font-size: 1em;
  padding: 0.5em;
  font-weight: 500;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

// DASHBOARD
.profile-page {
  @include flex-center;
  text-align: center;

}

.search-results {
  display: grid;
  padding: 1.3em;
  grid-template-columns: 1fr;
  gap: 2em;
}


// --------- MEDIA QUERIES ----------- //
/* tablet size */
@media screen and (min-width: $tablet-size) {
.search-results {
  display: grid;
  padding: 1.3em;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

//log in form is pretty small in this view!

}

/* large tablet size */
@media screen and (min-width: $large-tablet-size) {
.search-results {
  display: grid;
  padding: 1.3em;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.room-photo {
  max-width: 30em;
}

//log in form is really small in this view!
}

/* desktop size */
@media screen and (min-width: $desktop-size) {
.search-results {
  display: grid;
  padding: 1.3em;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.room-photo {
  max-width: 30em;
}

.book-this-room {
  display: flex;
  align-items: center;
  flex-direction: row;
}
//can't see full landing page photo in this view
//need to ditch the hamburger button
// filter results by room type is really long in this view
// photo is wayyy too big when you select a room

}