// LANDING PAGE
.hotel-exterior {
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  line-height: 1;
  position: relative;
  text-align: center;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: url(../images/balcony-exterior.jpg) no-repeat center center;
  background-size: cover;
  @include flex-center;
}

.main-button {
  align-self: center;
  padding: 1em 2em;
  background:white;
  color:black;
  border: none;
  opacity: 0.8;
  font-size: 1.5em;
  font-weight: 300;
  border-radius: 0.5em;
  margin: 1em;
}

.landing-page-book-button {
  margin-top: 5em;
  
  &:hover {
    background: $light-blue
  }
}

.slogan {
  display: none;
}

.welcome-msg {
  font-size: 2.5em;
  color: $dark-grey;
}


// LOG IN PAGE
.log-in-page {
  height: 100vh;
  @include flex-center;
  text-align: center;
}

.input-container {
  @include flex-center;
  margin: 1em;
}

.label {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 300;
}

.username {
  margin-top: 5em;
}

.input {
  padding: 0.5em;
  width: 18em;
  font-size: 1em;

  &::placeholder {
    color: red;
  }
}

// BOOKING PAGE
.select-page {
  @include flex-center;
  margin-top: 5em;
}

.selectDates {
  @include flex-center;

  & input {
    margin: 1em;
    width: auto;
    height: 2em;
    padding: 1.5em;
    border: none;
    background: white;
    border-radius: 0.5em;
  }

  & label {
    font-size: 1.5em;
    font-weight: 300;
  }
}

// SEARCH RESULTS PAGE
.results-page {
  @include flex-center;
  text-align: center;
}

.room-type-form-label {
  font-size: 1.5em;
  font-weight: 300;
}

.room-type-form {
  padding: 1em;
  margin: 1em;
  @include flex-center;
}

.apology {
  @include flex-center;
  text-align: center;
}

// BOOKING PAGE
.book-this-room {
  @include flex-center;
}

.button-container {
  @include flex-center;
}

.book-room-btn,
.go-back-btn {
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em;
  max-width: 20em;

  &:hover {
    background-color: lightgray;
  }
}

.selected-room-image-container {
  @include flex-center
}

.selected-room-photo {
  max-width: 80%;
  max-height: auto;
  border-radius: 1em;
  overflow: hidden;
  margin-top: 2em;
}

.text-area {
  padding: 1em;
}

.cost {
  font-size: 1.75em;
  font-weight: 300;
}

.button-and-text {
  max-width: 80%;
}

.selected-text-area {
  padding: 1em;
}

// CONFIRMATION PAGE
.confirmation-page {
  @include flex-center;
  text-align: center;
}

.confirmation-container {
  @include flex-center;
  margin-top: 3em;
}

.confirm-msg {
  font-family: 'Electrolize', sans-serif;
  font-size: 2em;
  padding: 1em;
  text-align: center;
}

.error-msg {
  color: white;
  font-size: 1em;
  padding: 0.5em;
  font-weight: 500;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

// DASHBOARD
.profile-page {
  @include flex-center;
  text-align: center;
}

.search-results {
  display: grid;
  padding: 1.3em;
  grid-template-columns: 1fr;
  gap: 2em;
}

.total-expenses {
  width: 75vw;
  margin: 1em;
  padding: 1em;
  background-color: white;
  opacity: 0.8;
  border-radius: 1em;
  border: 1px solid $medium-grey;
}

// --------- MEDIA QUERIES ----------- //
@media screen and (min-width: $tablet-size) {
  .search-results {
    display: grid;
    padding: 1.3em;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .selected-room-photo {
    max-width: 30em;
    max-height: auto;
    border-radius: 1em;
    overflow: hidden;
  }

}

@media screen and (min-width: $large-tablet-size) {
  .search-results {
    display: grid;
    padding: 1.3em;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }

  .selected-room-photo {
    max-width: 30em;
    max-height: auto;
    border-radius: 1em;
    overflow: hidden;
  }

}

@media screen and (min-width: $desktop-size) {

  .search-results {
    display: grid;
    padding: 1.3em;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
  }

  .selected-room-photo {
    max-width: auto;
    max-height: 30em;
    margin-left: 4em;
    border-radius: 1em;
    overflow: hidden;
  }

  .button-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start
  }

  .book-this-room {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .button-and-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .selected-text-area {
    padding: 1em;
    margin-top: 3em;
    height: 12em;
  }

  .landing-page-book-button {
    margin-top: auto;
    margin-bottom: auto;
  }

  .total-expenses {
    width: auto;
  }


  // .slogan {
  //   color: black;
  //   display: block;
  //   background-color: grey;
  //   font-family: 'Times New Roman';
  //   font-size: 3em;
  // }

}